* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background-color: rgb(32, 32, 37);
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  font-size: 12px;
}

.header-text {
  margin-top: 10%;
  display: block;
  color: #f7f7f7;
  font-size: 39px;
}

.container {
  display: flex;
  margin-top: 5%;
}

.key-value-input {
  display: inline-flex;
}

.optional-buttons {
  display: flex;
  justify-content: space-between;
  margin-top: auto;
  align-self: flex-end;
}

.form-container {
  background-color: white;
  border-radius: 10px;
  padding: 20px;
  margin: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  width: 300px;
}

.json-container {
  background-color: white;
  border-radius: 10px;
  padding: 20px;
  margin: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  width: 200px;
}

.form {
  margin-bottom: 20px;
  font-size: 14px;
}

.key-input {
  margin-right: 5px;
}

.value-input {
  margin-left: 5px;
}

input[type="text"],
select {
  width: 100%;
  padding: 8px;
  border-radius: 4px;
  border: 1px solid lightgrey;
  margin-bottom: 10px;
  box-sizing: border-box;
  font-size: 14px;
}

select {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  font-size: 14px;
}

button {
  background-color: rgb(60, 60, 68);
  color: #fff;
  font-size: 16px;
  border: none;
  border-radius: 4px;
  padding: 10px 16px;
  cursor: pointer;
}

button:hover {
  background-color: rgb(24, 23, 26);
}

.json {
  background-color: #f7f7f7;
  padding: 10px;
  border-radius: 4px;
  overflow-x: auto;
}
